body{
text-align:center;
background-color:#e6f7ff;
font-family: Comic Sans MS;
}

h1{
color:#ff6600;
}

button{
background-color:#ffcc00;
border:none;
padding:15px;
margin:10px;
font-size:20px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background-color:#ff9900;
}

input{
padding:10px;
font-size:18px;
}
